<!DOCTYPE html>
<html lang="fr">

<head>
    <% include head.ejs %>
</head>

<body>
    <% include header.ejs %>

        <div class="container">

            <h1 class="text-center"><%= titre %></h1>

            <!--  -->
            <% if (succes==false) { %>
                <div class="alert alert-danger alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">
                    <span>&times;</span>
                </button>
                    <strong>Message</strong>

                    <% if(error != undefined) { %>
                        <ul>
                            <% for(var i=0; i< error.length;i++){ %>
                                <li>
                                    <%= error[i].msg %>
                                </li>
                                <% }%>
                        </ul>
                        <% } %>
                </div>
                <% } %>
                    <!--  -->
                    <div class="row">
                        <div class="col-md-4">
                            <!-- les parametres -->
                            <form action="/" method="post" class="mform">
                                <!-- valeur de m -->
                                <div class="form-group">
                                    <label for="mcc_ra">Résistance induit Ra:</label>
                                    <input type="number" id="mcc_ra" name="mcc_ra" value="<%= mcc_datas.ra %>" step=0.01 min=0 max=10 class="form-control">
                                </div>

                                <!-- valeur de Co -->
                                <div class="form-group">
                                    <label for="mcc_c0">Couple de perte Co[Nm]:</label>
                                    <input type="number" id="mcc_c0" name="mcc_c0" value="<%= mcc_datas.c0 %>" step=0.01 min=0 max=10 class="form-control">
                                </div>

                                <!-- valeur de f -->
                                <div class="form-group">
                                    <label for="mcc_f">Frottement f[Nms]:</label>
                                    <input type="number" id="mcc_f" name="mcc_f" value="<%= mcc_datas.f %>" step=0.0001 min=0 max=2 class="form-control">
                                </div>
                                <!-- submit -->
                                <button type="submit" name="button" class="btn btn-primary"> <img src="/images/pencil.svg" width="18" height="18"  class="myicon"> Enregistrer</button>

                        </div>
                        <div class="col-md-4">
                            <!-- valeur de Uan -->
                            <div class="form-group">
                                <label for="mcc_uan">Tension induit nominal Uan[V]:</label>
                                <input type="number" id="mcc_uan" name="mcc_uan" value="<%= mcc_datas.uan %>" step=0.1 min=0 max=300 class="form-control">
                            </div>

                            <!-- valeur de Ian -->
                            <div class="form-group">
                                <label for="mcc_ian">Courant induit nominal Ian[A]:</label>
                                <input type="number" id="mcc_ian" name="mcc_ian" value="<%= mcc_datas.ian %>" step=0.1 min=0 max=30 class="form-control">
                            </div>

                            <!-- valeur de Ien -->
                            <div class="form-group">
                                <label for="mcc_ien">Courant inducteur nominal Ien[mA]:</label>
                                <input type="number" id="mcc_ien" name="mcc_ien" value="<%= mcc_datas.ien %>" step=1 min=0 max=300 class="form-control">
                            </div>

                            <!-- valeur de Nn -->
                            <div class="form-group">
                                <label for="mcc_nn">Vitesse nominale Nn[tr/min]:</label>
                                <input type="number" id="mcc_nn" name="mcc_nn" value="<%= mcc_datas.vitn %>" step=1 min=0 max=4000 class="form-control">
                            </div>
                            </form>
                        </div>


                    <!-- fig -->
                    <div class="col-md-4">

                        <img src="/images/modele_de_mcc.png" id="image_modele_mcc" class="img-fluid mx-auto" alt="fig mcc">
                        <hr>
                        <img src="/images/mcc.jpg" id="image_mcc" class="img-fluid mx-auto" alt="">

                    </div>
        </div>
        <!--  -->
        <% include footer.ejs %>
            </div>
            <% include les_scripts.ejs %>
</body>

</html>
